.headerDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: #000;
    padding: 15px;
    position: fixed;
    z-index: 4;
}
.headerDiv ul{
    display: flex;
    list-style: none;
    transform: translateY(7px);
}
.headerDiv ul a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
.headerDiv a{
    text-decoration: none;
}
.text{
    color: yellow;
}
.iconText{
    color: red;
    transform: translateY(-4px);
}
.headerDiv ul a:hover{
    background-color: yellow;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
}
.headerDiv ul a:nth-child(4):hover{
    background-color: rgb(67, 65, 65);
    color: #fff;
}
.headerDiv ul a:nth-child(4){
    padding: .4rem;
    border-radius: 5px;
    border: 2px solid #fff;
    margin-left: 1rem;
}

@media(max-width: 700px){
    .headerDiv{
        flex-direction: column;
        align-items: unset;
        text-align: center;
    }
    .headerDiv ul{
        padding: 0;
        margin: 0;
        justify-content: center;
    }
}


 
