.espaco { 
    width: 100vw;
    padding: 3rem 0 5rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
}
.espaco form{
    width: 37rem;
    color: #fff;
    text-shadow: 1px 1px #000;
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid yellow;
    background-color: rgba(0, 0, 0, 0.758);
}
.imgLogiin{
    width: 50rem;
}
.imgLogiin img{
    width: 100%;
    max-height: 42rem;
    transform: translateY(3rem);
}
@media(max-width: 1200px){
    .espaco{
        flex-direction: column;
        padding: 15rem 0 5rem 0;
    }
    .espaco form{
        width: 28rem;
    }
    .imgLogiin{
        width: 47rem;
    }
    .imgLogiin img{
        transform: translateY(2rem);
    }
}